@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  scroll-behavior: smooth;
  height:100%;
  width: 100%;
  background-image: url("jon-r8AFUpRp0J0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment:scroll;
}
nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
}
nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  padding: 10px;
  font-family: "monospace";
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}
nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

body {
text-align: center;
font-family: monospace;
}

h1 {
    font-size: 35px;
    font-family: monospace;
    font-style: normal;
    font-weight: light;
}

#RedRocks {
    border-radius: 50%;
    border-style: solid;
    border-color: thistle;
    height: 500px;
    width: auto;
    padding: 30px;
    margin-top: 10px;
    
}


#AboutMe {
    font-family: monospace;
    font-size: 120px;
    font-weight: lighter;
    color: rgb(68, 55, 68);
    text-align: left;

}


#scrollboxgames {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    overflow: scroll;
    white-space: nowrap;
    height: 155px;
    width: auto;
    padding: 20px;
}

img {
 float: center;
 width: 150px;
 height: 150px;
 object-fit: cover;
 padding: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

